.table-header {
    border-collapse: collapse;
    border-color: grey;
    overflow: hidden;
    width: 100%;
}

.table-header th {
    border-color: grey;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    height: 54px;
}

.table-header th:first-child {
    width: 70px;
    padding-left: 60px;
}

.table-header th:nth-child(2) {
    width: 240px;
    padding-left: 110px;
}

.table-header th:nth-child(3) {
    width: 130px;
    padding-left: 30px;
}

.table-header th:nth-child(4) {
    width: 200px;
}

.table-header th:nth-child(5) {
    width: 230px;
}

.table-header th:nth-child(6) {
    padding-left: 10px;
}

.empty-list {
    font-weight: 500;
    font-size: 24px;
    margin-top: 30px;
    padding-top: 40px;
}

.empty-list {
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: -10px;
    width: 100%;
}

.import-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: -10px;
    width: 100%;
    height: 100%;
    padding-top: 20px;
}
