.table-header {
    border-collapse: collapse;
    border-color: grey;
    overflow: hidden;
    width: 95%;
    margin-left: 20px;
}

.table-header th {
    border-color: grey;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    height: 54px;
}

.table-header th:first-child {
    width: 100px;
}

.table-header th:nth-child(2) {
    width: 270px;
}

.table-header th:nth-child(3) {
    width: 120px;
}

.table-header th:nth-child(4) {
    width: 140px;
}

.table-header th:nth-child(5) {
    width: 150px;
}

.table-header th:nth-child(6) {
    width: 150px;
}

.empty-list {
    font-weight: 500;
    font-size: 24px;
    margin-top: 20px;
    padding-top: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
}

.import-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    width: 1290px;
    height: 100%;
}
