.table-body {
    border-collapse: collapse;
    border: none;
    overflow: hidden;
    width: 95%;
}

.table-body td {
    border: none;
    text-align: center;
    height: 54px;
    font-weight: 600;
    font-size: 16px;
}

.table-body td:first-child {
    width: 100px;
}

.table-body td:nth-child(2) {
    width: 270px;
}

.table-body td:nth-child(3){
    width: 120px;
}

.table-body td:nth-child(4) {
    width: 140px;
}

.table-body td:nth-child(5) {
    width: 150px;
}

.table-body td:nth-child(6) {
    width: 150px;
}

.main-container {
    background: #fff;
    height: 100px;
    width: 100%;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0 0 0 20px;
}