.diagramResumeNumber {
    width: 90%;
    height: 721px;
    margin-bottom: 50px;
}

.diagramTitle{
    color: darkgrey;
    font-size: 16px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 43px;
}
