.diagramAverageDays {
    max-width: 90%;
    max-height: 721px;
    margin-bottom: 50px;
}

.diagramTitle{
    color: var(--primary-dark-grey);
    font-size: 16px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 43px;
}
