.input, .buttonSearch {
    height: 50px;
    width: fit-content;
    padding: 10px 30px;
    margin: 10px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    color: black;
    box-shadow: none;
}

.input {
    border: 1px solid darkgrey;
    width: 100%;
}

.buttonSearch {
    margin-left: 0;
    background-color: cornflowerblue;
    color: white;
    border: 2px solid cornflowerblue;
    width: 155px;
}

.buttonSearch:hover {
    font-weight: 700;
    font-size: 20px;
}

.statisticsInput{
    display: flex;
}