.sectionActive, .sectionNotActive {
    height: 42px;
    width: fit-content;
    margin: 10px 30px -10px 10px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    box-shadow: none;
    border: none;
    background-color: white;
    color: dimgrey;
}

.sectionActive {
    color: cornflowerblue;
}
