.sectionActive, .sectionNotActive{
    height: 42px;
    width: fit-content;
    margin: 10px;
    margin-bottom:-10px;
    margin-right: 30px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    box-shadow: none;
    border: none;
    background-color: white;
}

.sectionActive{
color: var(--blue);
    border-bottom: 2px solid var(--blue);
}

.sectionNotActive{

}