.SideBarContainer{
    width: 15% ;
    height: 100%;
    background-color: #264778;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
}

img{
    width: 45%;
}

.title{
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin: 15px;
}

.pageList{
    margin-top: 30px;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.pageList span:hover{
    text-decoration: underline;
    cursor: pointer;

}