#root {
  /*max-width: 1280px;*/
  margin: 0;
  padding: 0;
    width: 100%;
}

.app{
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.content{
    margin-left: 15%;
    width: 100%;
}

.sidebar{
    min-width: 100px;
    min-height: 100px;
    width: 15% ;
    height: 100%;
    background-color: rgba(0, 12, 255, 0.67);
    position: absolute;
}

