#root {
  /*max-width: 1280px;*/
  margin: 0;
  padding: 0;
    width: 100%;
}

.app{
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.content{
    margin-left: 15%;
    width: 100%;
}